language: cpp

before_install:
 - sudo add-apt-repository -y ppa:boost-latest/ppa
 - sudo add-apt-repository  --yes "ppa:codegear/release"
 - sudo apt-get update -qq
 - sudo apt-get -qq --yes install premake4
 - sudo apt-get -qq --yes install boost1.55
 - sudo apt-get --yes install lua5.1 luarocks
 - sudo luarocks install luafilesystem
 - sudo luarocks install penlight
 - gem install cucumber #ruby assumed to be installed

# before_script:
  # - premake4 gmake

script:
  - premake4 prepare
  - make -C Build/linux/gmake config=release64
  - premake4 cucumber
